<!doctype html>
<html lang="en">
    <head>
        <title>My Site</title>
        <link rel="stylesheet" href="/main.css">
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/app.js"></script>
    </head>
    <body>
        <%- yield %>
        <div id="footer">
            <p>Copyright © foobar</p>
        </div>
    </body>
</html>